'body':
  'ctrl-right': 'window:focus-next-pane'
  'ctrl-left': 'window:focus-previous-pane'

'.editor':
  'cmd-\'': 'autocomplete:toggle'

  'alt-cmd-=': 'increment-number:increase'
  'alt-cmd--': 'increment-number:decrease'

  'cmd-"': 'toggle-quotes:toggle'

  'cmd-C': 'color-picker:open'

'.workspace':
  'ctrl-B': 'filetype-color:toggle'

  'cmd-M': 'merge-conflicts:detect'

'.editor.conflicted':
  'ctrl-up': 'merge-conflicts:previous-unresolved'
  'ctrl-down': 'merge-conflicts:next-unresolved'
  'ctrl-enter': 'merge-conflicts:accept-current'
  'ctrl-1': 'merge-conflicts:accept-ours'
  'ctrl-2': 'merge-conflicts:accept-theirs'
